# macOS
.DS_Store

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# google oauth2.0 secret
oauth2.keys.json

# build output
dist/
dist-ssr/

# database file
db_data/

# log
npm-debug.log
request.log
error.log

# local files
*.local
